.notes--sidebar {
  width: 40%;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(188, 183, 183);
  height: 100vh;
  padding: 10px;
}

.notes--sidebar--title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.notes--sidebar--title > button {
  background: none;
  border: none;
  color: lightskyblue;
  font-weight: 900;
  cursor: pointer;
}

.notes-sidebar--note-snippet {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
}

.notes-sidebar--note-snippet:hover {
  background-color: rgb(244, 239, 239);
}

.notes-sidebar--note-snippet > button {
  background: none;
  border: none;
  font-weight: 900;
  cursor: pointer;
  color: red;
  margin-right:5px;
}

.note-small-title > p {
  padding: 5px;
}

.active {
  background-color: rgba(0, 0, 255, 0.799);
  color: white;
}

.active:hover {
  background-color: blue;
}
